/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: rgb(255, 0, 112);
    --accent-color-hover: rgb(255, 0, 112, 0.4);
    --title-color: #db00ff;
    --bg-color:#000028;
    --card-font-color: #f1b2ce;
    --bg-img: url(../images/cover-image-dark.png);
    --text-color: rgb(255, 0, 112);
    --text-color-hover: rgb(255, 0, 112, 0.4);
    --border-button-color: rgb(255, 0, 112);

    .header__decor__element {
        visibility: visible;
    }

    .header__theme-menu-button:focus-visible {
        border-bottom: 1px solid var(--text-color);
    }

    .header__theme-menu-button:hover {
        border: 1px solid var(--text-color-hover);
        color: var(--text-color);
    }

    .decor__element {
        color: var(--bg-color);
    }

}