/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

p {
    color: var(--card-font-color);
}

.page {
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--bg-color);
    justify-items: center;
    min-width: 375px;
    min-height: 668px;

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;
    height: 100vh;
    min-height: 668px;
    width: 100%;
}

.decorated-zone::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 3;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    justify-self: end;
    top: 10px;
    right: 10px;
}

.decorated-zone::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 3;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    justify-self: start;
    bottom: 10px;
    left: 10px;

}

.header__decor__element {
    position: absolute;
    display: block;
    font-family: 'IBM Plex mono' ,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: var(--accent-color);
    padding-top: 10px;
    padding-right: 19px;
    justify-self: end;
}

.header__theme-menu-button {
    font-family: "IBM Plex mono" ,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--text-color);
    text-decoration: none;
    text-transform: lowercase;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 70px;
    min-height: 26px;
}

.header__theme-menu-button:hover {
    color: var(--accent-color);
    border: 1px solid var(--text-color-hover);
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color);
    outline: none;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--border-button-color);
    color: var(--text-color);
}


.header__decor__element::after {
    content: "";
    display: inline-block;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
    width: 9px;
    height: 9px;
    margin-left: 10px;
}

.header__theme-menu-list {
    display: grid;
    gap: 10px;
    justify-self: end;
    margin-top: 20%;
    padding-right: 10px;
}

.title {
    font-family: "IBM Plex mono" ,sans-serif;
    font-weight: 700;
    font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
    justify-self: center;
}

.header__description {
    font-family: "IBM Plex mono" ,sans-serif;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.decor__element {
    font-size: 18px;
    line-height: 130%;
    color: var(--bg-color);
    background-color: var(--accent-color);
    width: 355px;
    align-self: center;
    justify-self: center;
}



.section__container {
    display: grid;
    grid-template-columns:355px;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-self: center;
}

.section__title {
    font-family: "IBM Plex mono" ,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: var(--accent-color);
}

.question__title {
    padding-top: 40px;
}


.text-block__heading {
    font-family: "IBM Plex mono" ,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: var(--bg-color);
    width: 100%;
}


.text-block__paragraph {
    font-family: "IBM Plex mono" ,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--card-font-color);
    padding-top: 10px;
}

.text__link {
    text-shadow: 2px 2px 0 var(--accent-color);
    cursor: pointer;
    text-decoration: none;
}

.text__link:hover {
    text-decoration: underline;

}

.text__link:focus-visible {
    border: 1px solid white;
}

.reasons__section {
    display: grid;
    grid-template-columns: 355px;
    grid-template-rows: repeat(2, auto);
    justify-self: center;
}

.reasons__title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.articles__list {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.section__container{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 355px;
    gap: 20px;
}

.content__card-list{
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.answer__title {
    justify-self: center;
    padding-top: 50px;
}

.text-block__heading__subsidiary {
    font-weight: 400;
}

.answer__block {
    margin-bottom: 20px;
}

.picture__section {
    justify-self: center;
    padding-top:50px;
    padding-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: 355px;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
}

.picture__card {
    width: 100%;
}

.footer {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100%;
}

.footer__title {
    align-self: center;
    justify-self: center;
}



@media screen and (min-width: 768px) {

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .header__decor__element {
        padding-top: 20px;
        padding-right: 29px;
    }

    .header__theme-menu-list {
        margin-top: 25%;
        padding-right: 20px;
    }

    .header__title {
        justify-self: start;
    }

    .title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__description {
        justify-self: end;
        width: 364px;
        margin-right: 20px;
    }


    .question__section {
        margin-top: 60px;
        padding-right: 20px;
    }

    .section__container{
        display: grid;
        grid-template-columns: 33% auto;
        grid-template-rows: auto;
        justify-self: center;
    }

    .question__title {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .articles__list {
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        justify-items: center;
    }

    .reasons__block {
    }

    .reasons__title {
        display: grid;
        padding-top: 0;
        width: 200px;
    }

    .reasons__section {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        margin-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .answer__section {
        margin-top: 80px;
        padding-right: 20px;
        padding-left: 10px;
    }

    .answer__title {
        padding-top: 0;
        padding-left: 10px;

    }

    .picture__section {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .container {
        grid-template-columns: 229px 230px 229px;
        grid-template-rows: auto 192px 230px 318px;
        grid-template-areas:
                "title title title"
                "sunset sunset ice-cream"
                "tape books ice-cream"
                "tape street street";
        gap: 20px;
    }

    .picture__title{
        grid-area: title;
    }

    .sunset {
        grid-area: sunset;
        height: 100%;
        width: 100%;

    }

    .ice-cream {
        grid-area: ice-cream;
        height: 100%;
        width: 100%;
    }

    .tape {
        grid-area: tape;
        width: 100%;
        height: 100%;
    }

    .books {
        grid-area: books;
        height: 100%;
        width: 100%;
    }

    .street {
        grid-area: street;
        height: 100%;
        width: 100%;
    }

    .footer {
        margin-top: 60px ;
    }

    .footer__title {
        justify-self: center;
        align-self: center;
        text-shadow: 2px 2px 0 var(--accent-color);
    }
}

@media screen and (min-width: 1024px) {

    .header__theme-menu {
            grid-template-columns: auto;
            grid-template-rows: repeat(1, auto);
    }

    .header__theme-menu-list {
        display: flex;
        justify-self: center;
        padding-top: 20px;
        margin: 0;
        padding-right: 0;
    }

    .title {
        justify-self: start;
    }

    .header__description {
        width: 491px;
        justify-self: end;
    }

    .question__item {
        padding-left: 16px ;
    }

    .reasons__section {
        grid-template-rows: repeat(2, auto);
    }

    .reasons__title {
        padding-left: 0;
        width: 315px;
    }

    .reasons__list {
        display: grid;
        grid-template-columns: repeat(3,315px);
        grid-template-rows: repeat(1,auto);
        justify-self: center;
    }

    .section__container {
        grid-template-columns: 32% auto;
    }

    .container {
        grid-template-columns: 315px 315px 314px;
        grid-template-rows: auto 260px 315px 433px;
    }

    .footer {
        height: 100vh;
    }

    .footer__title {
        justify-self: center;
        align-self: center;
    }
}
